#Requirements

flask
flask-cors
flask-socketio
flask-sqlalchemy
flask-migrate

opencv-python
ultralytics

numpy
pandas
scikit-learn
joblib

python-dotenv

openai

pyttsx3

reportlab
pillow

requests

paho-mqtt

pytest

shapely


pyserial

